body {
  margin:8px;
  padding: 0;
  display: block;
}
.intro{
  font-size: 30px;
}
#mainHeading{
  color: red;
}


h1 {
    font-size: 30px; 
  }
    
  .funParagraph{
    font-size: 30px;
    color: green;
  }
    
p {
  font-size: 30px;
}
    
  
  h2 {
    font-size: 30px;
  }
  .paragraph2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 30px;
  }
  .paragraph3 {
   font-size: 30px;
  }
img {
    width:800px;
    height:600px;
    ;
    
}